* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 50px;
}

.heading span {
  font-size: 2.7rem;
  color: #27ae60;
  font-family: cursive;
}

.heading h3 {
  font-size: 3.2rem;
  color: #130f40;
}

/* ========== Navigation Bar ========== */

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #130f40;
}

.header .logo i {
  color: #27ae60;
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #666;
}

.header .navbar a:hover {
  color: #27ae60;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background: #f7f7f7;
  color: #130f40;
  border-radius: 0.5rem;
  text-align: center;
  margin-left: 0.3rem;
  cursor: pointer;
}

.header .icons div:hover {
  color: #fff;
  background: #27ae60;
}

#menu-btn {
  display: none;
}

/* ======== Home Section ========== */

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

section {
  padding: 2rem 9%;
}

.home .content {
  flex: 1 1 41rem;
}

.home .content span {
  font-size: 2rem;
  color: #27ae60;
}

.home .content h3 {
  font-size: 4rem;
  color: #130f40;
  padding-top: 1rem;
}

.home .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.home .image {
  flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}

.home .image .home-img {
  width: 100%;
  margin-top: 5rem;
}

.home .home-parallax-img {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #27ae60;
  border-radius: 0.5rem;
  text-decoration: none;
}

.btn:hover {
  background: #145932;
}

/* ======== About Section ======== */

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  background: #f7f7f7;
}

.about .image {
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 40rem;
}

.about .content span {
  font-size: 3rem;
  color: #27ae60;
}

.about .content .title {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: #130f40;
}

.about .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.4rem;
  color: #666;
}

.about .icons-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .icons-container .icons {
  flex: 1 1 20rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.about .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #130f40;
}

/* ======== Menu Section ========  */

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  border-radius: 0.5rem;
  background: #f7f7f7;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  padding-bottom: 0.5rem;
}

.menu .box-container .box .price {
  font-size: 1.8rem;
  color: #27ae60;
}

/* ========== Popular Products ========== */

.popular .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.popular .box-container .box {
  border-radius: 0.5rem;
  position: relative;
  background: #f7f7f7;
  padding: 2rem;
  text-align: center;
}

.popular .box-container .box .fa-heart {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}

.popular .box .image {
  margin: 1rem 0;
}

.popular .box .image img {
  height: 15rem;
}

.popular .content .h3 {
  font-size: 2rem;
  color: #130f40;
}

.popular .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.popular .content .stars i {
  color: gold;
}

.popular .content .stars span {
  color: #666;
}

.popular .content .price {
  font-size: 2rem;
  color: #130f40;
}
.popular .content .price span {
  color: #666;
  text-decoration: line-through;
  font-size: 1.5rem;
}

/* ========== Blog Post ========== */

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border-radius: 0.5rem;
  overflow: hidden;
}

.blogs .box-container .box .image {
  position: relative;
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box .image h3 {
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: -100%;
  background: #fff;
  color: #130f40;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.blogs .image h3 i {
  padding-right: 0.5rem;
  color: #27ae60;
}

.blogs .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogs .box .content {
  padding: 2rem 1.5rem;
  background: #f7f7f7;
}

.blogs .box-container .content .tags {
  padding-bottom: 1rem;
}

.blogs .tags a {
  font-size: 1.5rem;
  color: #666;
  padding-right: 0.5rem;
}

.blogs .content a i {
  color: #27ae60;
  padding-right: 0.5rem;
}

.blogs .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.blogs .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

/* ========== Order ========== */

.order .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.order .icons-container .icons {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #f7f7f7;
}

.order .icons-container .icons img {
  height: 10rem;
}

.order .icons-container .icons h3 {
  font-size: 2rem;
  color: #130f40;
  margin-top: 0.5rem;
}

.order form {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
}

.order form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order .flex .inputBox {
  width: 49%;
  padding: 0.7rem 0;
}

.order .inputBox span {
  font-size: 1.7rem;
  color: #666;
}

.order form .flex input,
.order form .flex textarea {
  width: 100%;
  padding: 1rem 1.2rem;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
}

.order form .flex textarea {
  height: 20rem;
  resize: none;
}

.order .flex .map {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

/* ========== Footer ========== */

.footer {
  background: #f7f7f7;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: #27ae60;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #27ae60;
}

.footer .buttom {
  padding-top: 1rem;
 text-align: center;
}

.footer .buttom .credit {
  font-size: 2rem;
  color: #666;
  padding: 1rem;
}

.footer .buttom .credit span {
  color: #27ae60;
}

/* ========== Media Queries ========== */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  #social {
    display: none;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .home .home-parallax-img {
    top: 0;
    right: 0;
    width: 130%;
  }
  .order form .inputBox {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}

